/* -------------------Custom Props --------------- */

:root {
    --maincolor: #0061FF;
    --secondarycol: #fff;
}
/*---------------------- Reset--------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------General------------------ */

body{
    font-family: "Open Sans", sans-serif;
    color: black;
}

header a {
    text-decoration: none;
    color: #000;
}

footer a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 35px;
    font-weight: 800;
}

/* -------------------Utilities -----------------*/


/* buttons */

.btn { padding: 10px 15px;

}
 .btn.btn-small {
    padding: 5px 10px;
 }

.btn.btn-large {
    padding: 10px 30px;
} 

 .btn.btn-colored {
    color: #fff;
    background-color: var(--maincolor);
 }

 .btn.btn-colored2 {
    text-decoration: none;
    color: #000;
    background-color: var(--secondarycol);
 }

.br-bl {
    border: 1px solid black;
}

/* containers */ 

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
}

.disp-flex {
    display: flex;
}

.mrgt-l{
    margin-top: 100px;
}

.row.g-20 {
    gap: 20px;
}

/*------------- barra navigazione-------------- */

.header-bg {
    background-color: #B4D0E7;
    height: 700px;

}

.navbar {
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px #f3f0f0;
}


.navbar .row{
    align-items: center;
    height: 50%;
    flex-basis: 50%;
    gap: 25px;
}

.navbar-right {

    justify-content: flex-end;
}
/* header main content */

#main-header {
    padding-top: 100px;
}


/* -------------Main content -------------- */

#business {
    margin-top: 150px;
}
.bus-plan {
    background-color: chartreuse;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > .col-30 {
    flex-basis: 30%;
}

.row > .col-70 {
    flex-basis: 70%;
}

.row.col-grow > * {
    flex-grow: 1;
}

.row.cols-3 > .col {

    min-height: 80px;
    flex-basis: calc(100%/3 - 40px / 3);
    
}

/* --------------sezione Trova partner ----------------*/

.img-prov2 {
    min-height: 400px;
    flex-basis: 60%;
    background-color: aqua;
}
.testo-trova {
    flex-basis: 40%;
    background-color: cadetblue;
}

/* ---------------------sezione Operazioni------------------ */
#operazioni h2 {
    padding-bottom: 15px;
}

.card {
  height: 100%;
}

.card-img {
    background-color: chocolate;
    height: 50%;
}

.card-text {
    background-color: rgb(23, 155, 155);
    height: 50%;

}

.learn-text {
    background-color: grey;
    height: 200px;
    line-height: 70px;
    padding: 30px 0;
}

/* -----------------sezione Partnership e clienti--------------- */


.box {
    flex-grow: 1;
    flex-basis:50%;
    min-height: 248px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.box.box-big {
    height: 100%;
    padding: 25px;
}

.box .box-long{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    
}

.box img {
    width: 40%;
    
}

.box-big p {
    margin: 30px 0;

}   

.box-big hr {
    size: 1px;
    width: 75px;
    color: #fefefe;
    margin: 30px 0;

}

