/* -------------------Custom Props --------------- */

:root {
    --maincolor: #0061FF;
    --secondarycol: #fff;
    --dgray: #5252539e ;
}
/*---------------------- Reset--------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------General------------------ */

body{
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: #fff;
}

header a {
    text-decoration: none;
    color: #000;
}

footer {
    min-height: 500px;
    background-color: #000;
    color: white;
}

footer a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 35px;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    
}

h3 {
    font-size: 25px;
}
/* -------------------Utilities -----------------*/


/* buttons */

.btn {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;

}

.btn.btn-small {
    padding: 5px 10px;
}

.btn.btn-large {
    padding: 10px 30px;
} 

 .btn.btn-colored {
    color: #fff;
    background-color: var(--maincolor);

 }

.btn.btn-colored2 {

    color: #000;
    background-color: var(--secondarycol);
 }

.round-btn {
    height: 20px;
    flex-basis: 20px;
    border-radius: 50%;
    align-items: center;
    margin-right: 3px;
 }

 .round-btn.border-main {
    border: 5px solid var(--maincolor);
 }

.round-btn.border2 {
    border: 2px solid var(--dgray);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
}

.disp-flex {
    display: flex;
}

/* Spacing */ 
.br-bl {
    border: 1px solid black;
}
.mrb-30 {
    margin-bottom: 30px;
}  

.mrb-70 {
    margin-bottom: 70px;
}
.mrgt-50 {
    margin-top: 50px;
}
.mrgt-l {
    margin-top: 140px;
}

.mrgr-30 {
    margin-right: 30px;}


.row.g-45 {
    gap: 45px;
}

.row.g-20 {
    gap: 20px;
}
 
.pad-20{
    padding: 20px;
}

.pad-40{
    padding: 40px;
}

.padt-100 {
    padding-top:100px ;
}

.txt-cnt {
    text-align: center;
}

.colored-link {
    color: #3434F1;
}

.c-gr {
 color: var(--dgray);
}

.fnt-weight-8{
    font-weight: 800;
}

.line {
    border: 1px solid var(--dgray) ;
}
/*------------- barra navigazione-------------- */

.header-bg {
    background-color: #B4D0E7;
    height: 720px;

}

.navbar {
    align-items: center;
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px #f3f0f0;
}


.navbar .row{
    align-items: center;
    height: 50%;
    flex-basis: 50%;
    gap: 25px;
}

.navbar-right {

    justify-content: flex-end;
}
/* header main content */

#main-header {
    padding-top: 120px;
}

/* -------------Sezione Business plan -------------- */

#business {
    margin-top: 150px;
}

.col-header {
    margin-bottom: 30px;
    line-height: 3;
}

.checkbox {
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > .col-30 {
    flex-basis: 30%;
}

.row > .col-40{
    flex-basis: 40%;
}

.row > .col-60{
    flex-basis: 60%;
}

.row > .col-70 {
    flex-basis: 70%;
}

.row.col-grow > * {
    flex-grow: 1;
}

.row.cols-3 > .col {
     min-height: 80px;
    flex-basis: calc(100%/3 - 90px / 3);
}

.row.cols-5 > .col {
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 80px;
    flex-basis: calc(100% /5 - 80px / 5);
    border: 1px dashed white;
}

.icona {
    display:block;
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
}

.icons li {
    display: flex;
    gap: 5px;
    align-items: baseline;
    margin-bottom: 10px;
}

/* before icons  */
.icons li::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icons li.user::before {
    font: var(--fa-font-solid);
    content: '\f007';
}

.icons li.folder::before {
    font: var(--fa-font-solid);
    content:'\f07b';
}

.icons li.share::before {
    font: var(--fa-font-solid);
    content:'\f1e0';
}
.icons li.check::before {
    color: var(--maincolor);
    font: var(--fa-font-solid);
    content:'\f00c';
}

/* ----------------------------- */
.col-content > .col-title{
    line-height: 200%;
 }

.col-title h3 {
    margin-bottom: 20px;
}


.col-content li {
    margin-top: 20px;
}

.col-content ul{
    padding: 0 25px;
}

.col-bottom .fa-check {
    color: var(--maincolor);
}

.col-bottom li:last-of-type{
    margin-bottom: 45px;
}
.col-horiz h3 + p{
    margin-bottom: 50px;
}

#business a.btn {
    display: block;
    margin-bottom: 15px;
} 

ul .line{
     max-width: 80px;
    margin: 40px 0;
}

/* --------------sezione Trova partner ----------------*/
.img-prov2 {
    min-height: 400px;
    flex-basis: 60%;
    background-color: aqua;
}
.testo-trova {
    flex-basis: 40%;
    background-color: cadetblue;
}

/* ---------------------sezione Operazioni------------------ */

.card {
  height: 100%;
}

.card-img {
    height: 50%;
    margin-bottom: 15px;
}

.card-text {
    height: 50%;

}

.card-text h3 {
    margin-bottom: 20px;
}


.text {
    height: 200px;
    line-height: 50px;
    padding: 10px 0;
}

.text h2 {
    max-width: 600px;
    margin-bottom: 25px;
}

/* -----------------sezione Partnership e clienti--------------- */


.box {
    flex-grow: 1;
    flex-basis: 50%;
    min-height: 317px;
    justify-content: center;
    align-items: center;

}

.box.box-big {
    height: 100%;
    padding: 50px;
}

.box .box-long{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 100%;
}

.box-long h2 {
    color: #61082B;
    max-width: 500px;
}
.box img {
    width: 50%;
    
}

.box-big p {
    margin: 30px 0;

}   


.box-big > .line {
    width: 100px;
    margin: 40px 0;

}
/* filto bianco  */
.filter-white img{
    filter:invert(1)
}

/* ------background colors -------- */

.gb-gl {
    background-color: #A2D39B;
}

 .bg-dr {
    background-color: #61082B;
 }

 .bg-lb {
    background-color: #0093CE;
 }

 .bg-tr {
    background-color: #FF1C1C;
 }

.bg-gr {
    background-color: #F5F5F5;
}

.bg-wr {
    background-color: #D5001F;
}

.bg-ag {
    background-color: #B4D0E7;
}

.bg-bl {
    background-color: #0D2481;
}

.bg-yl {
    background-color: #FFD830;
}

/* -----------FAQ------------- */
.lines p {
    font-weight: 600;
    padding: 30px 0;
}

.lines li:nth-child(even){
    border-top: 1px solid var(--dgray);
    border-bottom: 1px solid var(--dgray);
}

.lines .row{
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

/* -----------FOOTER------------- */

